.banner{
   background: url(img/beautiful-shiny-night-view-of-tokyo.jpg) no-repeat;
   width:551px;
   height:231px;
}
/*=Header*/
header{
   overflow: hidden;
}
header h1{
    background: url(img/white.png)no-repeat;
    text-indent: -9999px;
    width:174px;
    height:47px;
    margin:10px 10px 22px ;
   float: left;
   
}
/*Nav*/

nav{
   float: right;
   padding-top:12px;
}
nav li{
   display: inline;
}

.callout{
   background:black;
   height:231px;

}

nav a{
   text-transform: lowercase;
}

/*main*/
.main{
   margin-top:20px;
}

/*footer*/
footer{
   clear: both; 
}

/*miscellaneous*/

 .container{
       margin-top: 10px;
 }
p{
   font-size:13px;
   line-height:20px;
   color:#353535;
}

h1,h2{
   letter-spacing:-1px;
}
h2{
   font-size:24px;
   text-transform: lowercase;
   border-bottom: 1px solid #d1d1d1 ;
   padding-bottom:30px ;
}
a{
   color:#7e7e7e;
   text-decoration:none;
}
a:hover,.selected{
   color:black;
   
}

li{
   margin-left:24px;
}

.botton{
  background:  #242324;
  padding: 6px;
}

.botton:hover{color:white;}

